STRAPI_URL_ENDPOINT=http://localhost:1337
STRAPI_URL_GRAPHQL=http://localhost:1337/graphql

DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
JWT_SECRET=
ADMIN_JWT_SECRET=
APP_KEYS=
API_TOKEN_SALT=

HOST=localhost
PORT=1337

